<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<!-- Login Section -->
    <div class="container">
        <div class="row" style="text-align: center" >
            <div class="main-center ">
                <div class="bg-danger" th:if="${param.error}">
                    Invalid username and secret.
                </div>
                <div class="bg-danger" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <div class="bg-success" th:if="${success}">
                    Successful!
                </div>
                <form class="form-signin" th:action="@{/index}" method="post">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" roleId="username" class="form-control" placeholder="Username" name="username"
                               id="username"
                               required="required" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" roleId="inputPassword" class="form-control" placeholder="Password"
                               id="password"
                               name="password" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me"/> &nbsp; Remember me
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
                
                <hr/>
                
                <div class="form-group ">
                    <a type="submit" class="btn btn-info btn-lg btn-block login-button" th:href="@{/signup}">Sign up!</a>
                </div>
            </div>


            <hr/>
            <h3>Technology used</h3>
            <h4>Spring Boot, Spring Data JPA, Spring Security</h4>
            <h4>Maven, Hibernate, slf4j</h4>
            <h4>Thymeleaf, Jquery, Bootstrap</h4>
            <h4>MySql</h4>
            <hr/>
            <h3>Main features</h3>
            <h5>Create user account in secure way</h5>
            <h5>Ability to change client info</h5>
            <h5>Ability to deposit/withdraw moneys from client account</h5>
            <h5>Ability of client to transfer money from own account to account of another client</h5>
            <h5>Ability to schedule an appointment</h5>
            <h5>Balance can't be negative for the client account</h5>
            <h5>Ability for admin change <b>daily limits, enable/disable users</b></h5>
            <h5>Scheduled tasks (ability to increase money on saving accounts in particular time)</h5>
            <br>
        </div>
    </div>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>